@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Oswald:wght@300&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'MuseoModerno', sans-serif;
    font-size: 17px;
    box-sizing: border-box;
    color: rgb(76, 25, 15);
}

body {
    background: white;
}

a {
    text-decoration: none;
    color: rgb(76, 25, 15);
}

ul {
    list-style: none;
}

/* HEADER */

.header {
    position: fixed;
    top: 0;
    z-index: 100;
}

.content-nav {
    margin: 0 75px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px 0;
}

.content-nav i {
    margin-left: 10px;
}

.header {
    color: rgb(76, 25, 15);
    font-weight: bold;
    width: 100%;
}

.nav {
    background-image: url("./img/header-pattern.png");
    background-color: rgb(247, 145, 35);
}

.navigation {
    width: 100%;
    background: rgb(255, 243, 221);
}

.navigation-ul {
    margin: 0 75px;
    padding: 10px 0;
    padding-right: 35px;
    display: grid;
    grid-template-columns: 220px repeat(3, 1fr);
    align-items: center;
    justify-content: space-evenly;
}

.navigation-ul-li {
    border-left: 1px solid black;
}

.navigation-ul-li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-ul-li i {
    margin-right: 5px;
}

.navigation-ul-li:first-child {
    position: relative;
}

.navigation-ul-li:last-child {
    border-right: 1px solid black;
}

.navigation-ul img {
    position: absolute;
    top: -75px;
    left: 0;
}

/* SECTION1 */

.section1 {
    width: 100%;
    /* margin-top: 126px; */
    margin-top: 126px;
}

.content-banner{
    padding: 0 75px;
}

.content-banner img {
    width: 100%;

}

/* CARDS */

.section2 {
    width: 100%;
}

.content-cards {
    margin: 0 75px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    margin: 12px 12px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
    border: none;
}

.card:hover {
    opacity: 0.9;
}

.cardTitulo {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 50px;
    font-size: 22px;
    color: rgb(76, 25, 15);
    font-weight: bold;
    padding: 0 7px;
}

.cardButton {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.card img {
    max-width: 100%;
}

.cardButton button {
    border: none;
    /* background: rgb(189, 214, 70); */
    background: #a4c701;
    color: rgb(76, 25, 15);
    padding: 5px 65px;
    font-weight: bold;
}

.cardButton button:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* FOOTER */

.footer {
    width: 100%;
    background: #d1ca29 url("img/footer-pattern.png");
    
}

.content-footer {
    padding: 0 75px;
    padding-bottom: 90px;
}

.content-footer-1line {
   
}

.content-footer-1line img {
    margin-top: 10px;
    max-width: 100%;
}

.content-footer-2line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 15px;
    padding-left: 10px;
    
}

.content-footer-2line-1col {
    display: flex;
    align-items: center;
    color: rgb(76, 25, 15);
    height: 100%;
    border-right: 10px dashed rgb(238, 238, 0);
}

.icons {
    margin-left: 20px;
}

.content-footer-2line-2col {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-footer-2line-2col img {
    
}

.content-footer-2line-3col {
  
  height: 100%;
}

.footerInput {
    
    display: flex;
    justify-content: end;
}

.footerInput input {
    width: 80%;
    
}

.footerButton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* margin-right: 60px; */
}

.footerButton button {
    border: none;
    background-color: rgb(255, 107, 36);
    font-weight: bold;
    padding: 5px 50px;
}

.footerButton button:hover {
    cursor: pointer;
}

.footer-3line-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.footer-3line-li {
    
    margin: 0 10px;
    
}

.footer-3line-li a, p {
    font-weight: bold;
    font-size: 14px;
}

.footer-3line-li a {
    text-decoration: underline;
}

/* KEY FRAMES */




